@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
$mainFont: "Poppins", sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

.myMain {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .c-u-container {
        width: 50%;
        min-height: 40vh;
        display: flex;
        padding: 1rem 2rem;
        font-family: $mainFont;
        flex-direction: column;
        gap: 5rem;

        >h1 {
            font-size: 7vw;
        }

        p {
            font-size: 1.1rem;
        }

        span {
            color: red;
            padding: 0 5px;
            text-decoration: underline;
            font-weight: bold;
        }
    }

    .myFormConatiner {
        width: 50%;
        min-height: 100vh;
        display: flex;
        align-self: flex-end;
        padding: 4rem 0;

        form {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            input,
            select,
            textarea {
                width: 38vw;
            }

            label {
                margin-top: 2rem;
            }

            input {
                height: 3rem;
                border: 1px solid rgba(156, 163, 175, 0.445);
            }

            select {
                height: 3rem;
                border: 1px solid rgba(156, 163, 175, 0.445);
                border-radius: 10px;
                padding: 0 1rem;
            }

            textarea {
                height: 15rem;
                border: 1px solid rgba(156, 163, 175, 0.445);
            }

            button {
                background-color: #fe5b74;
                width: 10rem;
                height: 3rem;
                border-radius: 30px;
                align-self: flex-end;
                margin: 1rem 5vw;
            }
        }
    }
}

@media screen and (max-width:1024px){
    .c-u-container, 
    .myFormConatiner {
        width: 100% !important;
        form{
            width: 100% !important;
        }
        input,select,textarea{
            width: 90vw !important;
        }
    }
}
@media screen and (max-width:500px){
    .c-u-container {
        gap: 1rem !important;
        justify-content: center !important;
        h1{
            font-size: 12vw !important;
        }
        p{
            font-size: 4vw !important;
        }
}
}