@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
$mainFont: "Poppins", sans-serif;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

.cardsContainer{
    width: 100vw;
    min-height:73vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 2rem;
    z-index: 2;
    flex-wrap: wrap;
    article{
        width:18rem;
        height: 23rem;
        font-family: $mainFont;
        user-select: none;
        position: relative;
        margin: 1rem 0;
        img{
            width: 100%;
            height:16rem;
            border-radius: 10px;
        }
        a{
            color: #000;
        }
        h4{
            padding: .8rem 0 .5rem .7rem;
        }
        p{
            font-size: .8rem;
            padding: .5rem.7rem;
            color: #555;
        }
        span{
            font-weight: bold;
            padding: 0 .7rem;
            font-size: .9rem;
            text-decoration: underline;
        }

        small{
            position: absolute;
            right: .5rem;
            bottom: 4.5rem;
            font-size: .9rem;
            color: #555;
        }
        #wishList{
            position: absolute;
            top: .7rem;
            right: .7rem;
            font-size: 1.5rem;
            color: #555;
            opacity: .8;
            transition: .3s ease;
            &:hover{
                opacity: 1;
            }
        }

        .ownerPicContainer{
            position: absolute;
            bottom: 50%;
            left: 1rem;
            background-color: white;
            width: 4rem;
            height: 4.2rem;
            border-radius:0 7px 7px 0;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s ease-in-out;
            cursor: pointer;
            img{
                width:2.7rem;
                height:2.7rem;  
                border-radius: 50%;  
                object-fit: cover;     
                border: 1px solid #555;
                margin-left: 5px;
            }
            &::before{
                content: '';
                position: absolute;
                left: 7px;
                bottom: 0;
                width: 1px;
                height: 100%;
                background-color: #cdc6c6;
            }
            &::after{
                content: '';
                position: absolute;
                right: -4px;
                bottom: 1px;
                width: 7px;
                height: 95%;
                border-radius:0 5px 5px 0;
                background-color: #DBDBDB;
                display: none;
                transition: .3s ease-in;
            }

            &:hover::after{
                display: block;
            }
            &:hover{
                transform: translateY(-5px) ;
            }
        }
    }
    

    .load_more{
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        button{
            width: 14rem;
            height: 3rem;
            border: none;
            background-color: #FE5B5F;
            color: white;
            font-family: $mainFont;
            border-radius: 40px;
            font-size: 1rem;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            box-shadow: 1px 1px 7px 2px #0000005e;
            &:hover{
                border: 2px solid black;
                background-color: aliceblue;
                color: #000;
            }
        }
    }
}

